extend layoutIndex
block content
    script(rel='js',type='text/javascript',src='/js/graphlib.min.js')
    script(rel='js',type='text/javascript',src='/js/funcionesCliente.js')
    script(rel='js',type='text/javascript',src='/js/operacionesGrafo.js')
    t2 Origen: &nbsp;
    select#origen
      each ciud, i in ciudades
        option(value=i) #{ciud} 
    br
    t2 Destino: &nbsp;
    select#destino
      each ciud, i in ciudades
        option(value=i) #{ciud}
    br
    button(onclick="buscar()") Buscar
    br
    br
    #table
block sidebar
