extend layoutIndex
block content
    script(rel='js',type='text/javascript',src='/js/graphlib.min.js')
    script(rel='js',type='text/javascript',src='/js/funcionesCliente.js')
    script(rel='js',type='text/javascript',src='/js/operacionesGrafo.js')
    t2 Origen: &nbsp;
    select#origin
      each city, i in ciudades
        option(value=i) #{city} 
    br
    t2 Destino: &nbsp;
    select#destiny
      each city, i in ciudades
        option(value=i) #{city}
    br
    button(onclick="buscar()") Buscar
    br
    br
    #table
block sidebar
