doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/style/main.css')
  body
    header
      h1 Venta De Pasajes
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
