extend layoutReserva
block content
    script(rel='js',type='text/javascript',src='/js/funcionesCliente.js')
    t2 Reservas: &nbsp;
    select#reserva
      each reserva, i in reservas
        option #{reserva} 
    br
    button(onclick="completarReserva()") Completar Reserva
block sidebar
